body {
    background-color: #fdf4e3;
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
}

.navbar {
    font-family: "Playfair Display", serif;
    background-color: #E03932;
    border-bottom: 4px black solid;
}

.navbar-brand {
    color: #000000;
    font-family: "UnifrakturMaguntia", cursive;
    line-height: 1;
}

.nav .nav-link {
    text-transform: uppercase;
    color: #000000;
}

.nav .nav-link.active {
    background-color: #000000;
    color: #ff0000;
}

.carousel-item img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    border-bottom: 4px black solid;
}

.section-title {
    font-family: "Playfair Display", serif;
    color: #000000;
    font-weight: bold;
}

#about {
    background-color: #ffeae6;
}

.red-text {
    color: #c10000;
}